.login-form{
    margin: auto;
    width: 500px;
    margin-top: 5%;
    padding: 50px;
    box-shadow: inset -2px 2px 2px 0px grey;
    background-color: white;
    border-radius: 20px;
  
    box-shadow: 1px 1px 9px 1px grey;
    height: calc(100% - 120px);
}


.login-form-inputs{
    border: 1px solid #b3a3a3;
}